{% extends "base.html" %}

{% block title%} Beranda - Tilapia Fresh{% endblock %}

{% block content %}

<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.webp);">
    <div class="container position-relative">
      <h1>Indikator Kesegaran Ikan Nila dan Bagian yang Dianalisis</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{{ url_for('main')}}">Beranda</a></li>
          <li class="current">Detail</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Blog Posts 2 Section -->
  <section id="blog-posts-2" class="blog-posts-2 section">

    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-4">
          <article class="position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="{{ url_for('static', filename='assets/img/mata_nila.jpg') }}" class="img-fluid" alt="">
            </div>

            <div class="meta d-flex align-items-end">
              <div class="d-flex align-items-center">
                <i class="bi bi-person"></i> <span class="ps-2">Dokumentasi Pribadi</span>
              </div>
            </div>

            <div class="post-content d-flex flex-column">
              <h3 class="post-title">MATA IKAN NILA SEGAR</h3>
              <p style="text-align: justify; font-size: 14px;">Pupil yang berwarna hitam tampak menonjol dengan kornea
                yang jernih, serta bola mata yang cenderung cembung dan mengkilap.
              </p>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-lg-4">
          <article class="position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="{{ url_for('static', filename='assets/img/kulit_nila.jpg') }}" class="img-fluid" alt="">
            </div>

            <div class="meta d-flex align-items-end">
              <div class="d-flex align-items-center">
                <i class="bi bi-person"></i> <span class="ps-2">Dokumentasi Pribadi</span>
              </div>
            </div>

            <div class="post-content d-flex flex-column">
              <h3 class="post-title">KULIT IKAN NILA SEGAR</h3>
              <p style="text-align: justify; font-size: 14px;">Warna kulit terang dan jernih, masih kuat membungkus tubuh,
                dengan lendir di permukaan tubuh yang terlihat jernih dan transparan.
              </p>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-lg-4">
          <article class="position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="{{ url_for('static', filename='assets/img/insang_nila.jpg') }}" class="img-fluid" alt="">
            </div>

            <div class="meta d-flex align-items-end">
              <div class="d-flex align-items-center">
                <i class="bi bi-person"></i> <span class="ps-2">Dokumentasi Pribadi</span>
              </div>
            </div>

            <div class="post-content d-flex flex-column">
              <h3 class="post-title">INSANG IKAN NILA SEGAR</h3>
              <p style="text-align: justify; font-size: 14px;">Insang berwarna merah, terang, dengan lamella yang terlihat terpisah, tertutup
                lendir berwarna terang, dan memiliki aroma segar.
              </p>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-lg-4">
          <article class="position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="{{ url_for('static', filename='assets/img/mata_nila1.jpg') }}" class="img-fluid" alt="">
            </div>

            <div class="meta d-flex align-items-end">
              <div class="d-flex align-items-center">
                <i class="bi bi-person"></i> <span class="ps-2">Dokumentasi Pribadi</span>
              </div>
            </div>

            <div class="post-content d-flex flex-column">
              <h3 class="post-title">MATA IKAN NILA TIDAK SEGAR</h3>
              <p style="text-align: justify; font-size: 14px;">Pupil mata berwarna kelabu tertutup oleh lendir berwarna putih susu, dengan
                bola mata yang tampak cekung dan keruh.
              </p>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-lg-4">
          <article class="position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="{{ url_for('static', filename='assets/img/kulit_nila1.jpg') }}" class="img-fluid" alt="">
            </div>

            <div class="meta d-flex align-items-end">
              <div class="d-flex align-items-center">
                <i class="bi bi-person"></i> <span class="ps-2">Dokumentasi Pribadi</span>
              </div>
            </div>

            <div class="post-content d-flex flex-column">
              <h3 class="post-title">KULIT IKAN NILA TIDAK SEGAR</h3>
              <p style="text-align: justify; font-size: 14px;">Warna kulit ikan tampak suram, pucat, dan pudar. Kulit mulai mengendur,
                sementara lendirnya tebal, menggumpal, dan lengket.
              </p>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-lg-4">
          <article class="position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="{{ url_for('static', filename='assets/img/insang_nila1.jpg') }}" class="img-fluid" alt="">
            </div>

            <div class="meta d-flex align-items-end">
              <div class="d-flex align-items-center">
                <i class="bi bi-person"></i> <span class="ps-2">Dokumentasi Pribadi</span>
              </div>
            </div>

            <div class="post-content d-flex flex-column">
              <h3 class="post-title">INSANG IKAN NILA TIDAK SEGAR</h3>
              <p style="text-align: justify; font-size: 14px;">Insang berwarna cokelat kusam atau abu-abu dengan lamella
                yang saling menempel, tertutup lendir, keruh, serta mengeluarkan aroma asam yang tajam dan 
                menusuk.
              </p>
            </div>

          </article>
        </div><!-- End post list item -->

      </div>
    </div>

  </section><!-- /Blog Posts 2 Section -->

</main>

{% endblock %}